{%extends './body.html'%}

{% block title%} Listado de Libros {% endblock %}
{% block container%}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>{{ data.titulo }}</h2>
       
    </div>
</div>

<hr>
<div class="row">
{% for l in data.libros %}
<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="card mb-4 shadow-sm">
        {% set url = 'img/portadas/' + l.isbn +'.jpg' %}
        <img src="{{url_for('static', filename = url)}}" alt="{{ l.titulo }}" class="car-img-top" height="320">
        <div class="card-body">
            <h5 class="card-title">{{ l.titulo }} <span style=" float: right">$ {{l.precio}} </span></h5>
            <p class="card-text">{{ l.autor.nombre_completo()}}</p>
            <div class="d-grid gap-2">
                <button id="{{ l.isbn }}" class="btn btn-primary btnComprarLibro" type="button">Comprar</button>
            </div>
        </div>
    </div>
</div>
{%endfor%}    
</div>
{% endblock %}

{% block customJS %}
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css
" rel="stylesheet">
<script src="{{url_for('static',filename = 'js/listado_libros.js')}}"></script>
<script src="{{url_for('static',filename = 'js/notificacionSA.js')}}"></script>
{% endblock %}